* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f7f6;
}

/* Banner */
header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1574629810360-7efbbe195018?auto=format&fit=crop&q=80&w=1000') center/cover;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Navigasi */
nav {
    background-color: #6cabdd; /* Man City Blue */
    display: flex;
    justify-content: center;
    padding: 15px;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Content Area */
.container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    background: white;
    min-height: 400px;
}

/* Gallery Grid */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #488ed4;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #488ed4;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

#jam-realtime {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #488ed4;
    color: #ecf0f1;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

